body {
    margin: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(./img/2RBVLGMHIVHBPI7DHUJ7POLU2I.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.logo-inicio {
    width: 60vw;
    max-width: 550px;
    min-width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    position: fixed;
    margin: 20px;
}


.paginas {
    position: fixed;
    bottom: 25px;
    width: 100%;
    text-align: center;
}


.paginas a {
    display: inline-block;
    margin: 0 40px;
    text-decoration: none;
    color: white;
}

.paginas a:hover {
    text-decoration: underline;
}


.linha {
    border: none;
    height: 2px;
    background-color: #e50914;
    width: 60%;
    margin: 10px auto 0 auto;
}
