body{
    margin: 0px;
    border: 0px;
    color: whitesmoke;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-image: url(./img/G6uWkItWgAE93po.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

.logo-inicio{
    max-width: 550px;
    min-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.paginas{
   display: flex;
   gap: 200px;
   position: fixed;
   bottom: 0;
   width: 100%;
   margin: 50px 50px 10px 350px;
}

h1{
   position: fixed; 
   margin: 20px;
}
