body{
    margin: 0px;
    border: 0px;
    color: whitesmoke;
    background-color: rgb(96, 0, 0);
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.logo{
    max-width: 100px;
    position: absolute;
    top: 85%;
    left: 45%;
    margin: 15px;
}

.imagens{
    width: 280px;
    height: 190px;
    border-radius: 10px;
}
table{
    margin-top: 20px;
}
.paginas{
   display: flex;
   gap: 200px;
   position: fixed;
   bottom: 0;
   width: 100%;
   margin: 50px 50px 10px 350px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
