body{
    margin: 0px;
    border: 0px;
}






a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.paginas{
   display: flex;
   gap: 200px;
   position: fixed;
   bottom: 0;
   width: 100%;
   margin: 50px 50px 10px 350px;
}