body {
    margin: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url(./img/2RBVLGMHIVHBPI7DHUJ7POLU2I.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    position: fixed;
    margin: 20px;
    font-size: 2.5em;
}


ul {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 80%;
    max-width: 900px;
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}


.netflix,
.aqui {
    color: red;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}


.paginas {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}


.paginas a {
    display: inline-block;
    margin: 0 40px;
    font-size: 1.2em;
}


.linha {
    border: none;
    height: 4px;
    background-color: #e50914;
    width: 60%;
    margin: 15px auto 0 auto;
}

.logo{
    position: fixed;
    bottom: 90px;             
    left: 50%;
    transform: translateX(-50%);
    width: 90px;         
    z-index: 10;
}
